<!-- Début Footer -->

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact</h3>
                        <ul>
                            <li><a>IUT Paris Descartes</a></li>
                            <li><a>143 Avenue de Versailles</a></li>
                            <li><a>75016</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Équipe</h3>
                        <ul>
                            <li><a>Loïc LIM</a></li>
                            <li><a>Vincent NGUYEN</a></li>
                            <li><a>Bilal HAMICHE</a></li>
                            <li><a>Aravindan COLBERT</a></li>
                            <li><a>Tom BRUDER</a></li>
                            <li><a>Victor VAKITOV</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>No Brain No Gain</h3>
                        <p>
                            No Brain No Gain, le site de jeux intéractifs en ligne. Viens tester tes limites
                             et te retourner le cerveau. Réalisé par une épique de 6 étudiants.
                        </p>
                        <img src="../img/logo.png" alt="logo" class="logoFooter">
                    </div>
                <p class="copyright">No Brain No Gain © 2021</p>
            </div>
        </footer>
    </div>

<!-- Fin Footer -->