<!-- Début Footer -->

    <div class="footer-dark" id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact</h3>
                        <ul>
                            <li>IUT Paris Descartes</li>
                            <li>143 Avenue de Versailles</li>
                            <li>75016</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Équipe</h3>
                        <ul>
                            <li>Loïc LIM</li>
                            <li>Vincent NGUYEN</li>
                            <li>Bilal HAMICHE</li>
                            <li>Aravindan COLBERT</li>
                            <li>Tom BRUDER</li>
                            <li>Victor VAKITOV</li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>No Brain No Gain</h3>
                        <p>
                            No Brain No Gain, le site de jeux intéractifs en ligne. Viens tester tes limites
                             et te retourner le cerveau. Réalisé par une épique de 6 étudiants.
                        </p>
                        <img src="../img/logo.webp" alt="logo" class="logoFooter">
                    </div>
                <p class="copyright">No Brain No Gain © 2021</p>
            </div>
        </footer>
    </div>

<!-- Fin Footer -->