<!-- Début NavBar -->

<nav id="navDames" class="navbarDames topfixed bgcolor">
    <div class="leftItems">
        <a href="/"><img src="./img/logoneon.webp" alt="logo" class="logoneon"></a>
        <a class="alpha" href="/">NO BRAIN NO GAIN</a>
    </div>

    <div class="rightItems">
        <a class="items" href="/">Accueil</a>

        <% if(button=='home' ) { %>

            <a class="items" href="#games">Jeux</a>
            <a class="items" href="#footer">Contact</a>

        <% } %>



    </div>
</nav>


<script src="./js/myscript.js"></script>

<!-- Fin NavBar -->