.connect4{
    background-image: url(../../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .col-12 {
    margin-top: 25px;
  }
  
  .btn btn-warning {
    display: none;
  }
  
  #myDIV:hover + .btn btn-warning {
    display: block;
    color: red;
  }
  
  #app{
    background-color: #161b46;
    border-radius: 50px;
    width: 850px;
    padding-top: 100px;
  }
  
  td {
    background-color: transparent;
    border: 0px !important;
    padding: 5px !important;
  }
  
  .img-player {
    max-width: 100px;
  }
  
  .container {
    width: 55%;
  }
  
  .table{
    margin-bottom: 50px;
  }
  
  