<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>No Brain No Gain</title>

    <link rel="icon" type="image/png" href="./img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One'
        rel='stylesheet' type='text/css'>

    <!-- Fichier Pannel  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Fichier CSS version TEST-->

    <link href="./css/login.css" rel="stylesheet">
    <link href="./css/navbar.css" rel="stylesheet">

</head>

<body>

    <%- include('../views/layouts/navbar.ejs', {button: 'login' , isLoggedIn: false}) -%>

        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form method="POST">
                    <h1>Créer un compte</h1>
                    <input type="texte" placeholder="Nom" name="nameRegister" required>
                    <input type="email" placeholder="Email" name="emailRegister" required>
                    <input type="password" placeholder="Mot de passe" name="passwordRegister" required>
                    <% if (err_msg=='erreurRegister' ) { %>
                        <p style="color: red;">L'email est déjà pris par un autre utilisateur !</p>
                        <% } %>
                    <button type="submit">Inscrivez-vous!</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form method="POST">
                    <h1>Connectez vous</h1>
                    <input type="email" placeholder="Email" name="emailLogin" required>
                    <input type="password" placeholder="Mot de passe" name="passwordLogin" required>

                    <% if (err_msg=='erreurLogin' ) { %>
                        <p style="color: red;">Votre mot de passe ou votre email est incorrect !</p>
                        <% } %>
                            <button type="submit">Se connecter</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Te revoilà !</h1>
                        <p>Entre tes informations personnelles pour te connecter</p>
                        <button class="ghost" id="signIn">Se connecter</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Bonjour petit joueur</h1>
                        <p>Entre tes informations personnelles et commence à jouer avec nous !</p>
                        <button class="ghost" id="signUp">Créer ton compte</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Scripts -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- Fichiers JS -->

        <script src="./js/login.js"></script>
        <script src="./js/myscript.js"></script>

</body>

</html>