html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Début de Haut de page */

.carousel-caption {
	top: 275px;
}

.carousel-caption h1 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1.5em 3em 1em 3em;
	font-family: merienda;
}

.font-italic {
    font-family: "Raleway", sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin: 1.5em 3em 1em 3em;
	padding-top: 1.5em;
	color: white;
	line-height: 36px;
	letter-spacing: 1px;
}

.d-block {
	max-height: 975px;
}

@media only screen and (max-width: 1280px) {
	.carousel-caption {
		top: auto;
	}
}


/* Début titre animation */

/*Neon*/


a {
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.title {
	font-size: 90px;
}

p:nth-child(1) a {
	color: #FFFFFF;
	font-family: Pacifico;
}

p:nth-child(1) a {
	-webkit-animation: neon3 1.5s  infinite ;
	-moz-animation: neon3 1.5s  infinite ;
	animation: neon3 1.5s  infinite ;
}

p a {
	color: rgb(137, 201, 227)fff;
}

/*glow for webkit*/

@-webkit-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@-moz-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
	#container {
		width: 100%;
	}
	p {
		font-size: 3.5em;
	}
}

/* Fin du titre  */

/* Fin Haut de page */

/* Début Contenu de la page */

h2 {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 45px;
	color: #2C3E50;
}

.img-fluid {
	margin: 0 50px 10em 50px;
	max-width: 100%;
	max-height: 100%;
	border-radius: 30px;
}

.icon {
	width: 60px auto;
	margin-bottom: 9em;
	display: block;
	width: 6em;
	color: #2C3E50;
	text-align: center;
}

hr {
	margin: 90px 0 0;
	width: 10%;
	height: 5px;
	background-color: #2c3e50;
	border-radius: 20px;
}

hr.gauche {
	float: left;
}

hr.droite {
	float: right;
}

.banner {
	background: #a770ef;
	background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
	background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.display-4 {
	text-align: center;
	text-transform: uppercase;
	color: black;
}

/* Fin Contenu de la page */

/* Début bouton inscription */

.button {
	border-radius: 100px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.7em;
	padding: 4px 50px 4px 50px;
	margin-bottom: 56px;
}

.button a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
}

.button span:after {
	content: '\2BC8';
	font-size: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Fin bouton inscription */

/* Début footer */

body {
	font-family: 'Signika', sans-serif;
}

.bg-grey {
	background: #292929;
}

.logo-footer {
	margin-bottom: 40px;
}

footer {
	color: grey;
}

/* footer p, a {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
} */

footer h6 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 40px;
	position: relative;
}

footer h6:after {
	position: absolute;
	content: "";
	background: grey;
	width: 12%;
	height: 1px;
	left: 0;
	bottom: -20px;
}

.btn-footer {
	color: grey;
	text-decoration: none;
	border: 1px solid;
	border-radius: 43px;
	font-size: 13px;
	padding: 7px 30px;
	line-height: 47px;
}

.btn-footer:hover {
	text-decoration: none;
}

.form-footer input[type="text"] {
	border: none;
	border-radius: 16px 0 0 16px;
	outline: none;
	padding-left: 10px;
}

::placeholder {
	font-size: 10px;
	padding-left: 10px;
	font-style: italic;
}

.form-footer input[type="button"] {
	border: none;
	background: #232323;
	margin-left: -5px;
	color: rgb(137, 201, 227);
	outline: none;
	border-radius: 0 16px 16px 0;
	padding: 2px 12px;
}

.social .fa {
	color: grey;
	font-size: 22px;
	padding: 10px 15px;
	background: #3c3c3c;
}

footer ul li {
	list-style: none;
	display: block;
}

footer ul {
	padding-left: 0;
}

footer ul li a {
	text-decoration: none;
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #f5f5f5 !important;
}

.logo-part {
	border-right: 1px solid grey;
	height: 100%;
}


/* Début animation footer */

.machine{
	width:140px; 
	position:relative;
	padding-top:0.1px;
	position: absolute;
	top: 40%; left: 110%;
	transform: translate(-50%,-50%);
	animation:shake .4s infinite;
  }
  
  .machine:after{
	content:"";
	position:absolute;
	height:230px;
	width:6px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	background-color:#34495e;
	margin-left:100%;
	margin-top:-250px;
  }
  
  .screen {
	  width:80px;
	  height: 0px;
	  border-right: 0px solid transparent;
	  border-left: 60px solid transparent;
	  border-bottom: 130px solid #3498db;
  }
  
  .top{
	 width: 60px;
	 height: 0px;
	 border-right:20px solid transparent;
	 border-left: 0px solid transparent;
	 border-bottom: 40px solid #3498db;
	 position:absolute;
	 right:0;
	 top:0;
  }
  
  .table{
	width:200px;
	height:35px;
	transform:translate(-60px,-1px);
  }
  
  .bottom{
	width:140px;
	height:100px;
	transform:translateY(-10px);
  }
  
  .color{
	background-color:#3498db;
  }
  
  .screw{
	height:5px;
	width:5px;
	border-radius:50%;
	background-color:#34495e;
	position:absolute;
	bottom:5px;
	left:5px;
  }
  
  .screwRight{
	height:5px;
	width:5px;
	border-radius:50%;
	background-color:#34495e;
	position:absolute;
	bottom:5px;
	right:5px;
  }
  
  .screwTop{
	height:5px;
	width:5px;
	border-radius:50%;
	background-color:#34495e;
	position:absolute;
	top:5px;
	left:5px;
  }
  
  .panels{
	margin:0 auto;
	text-align:center;
  }
  
  .panel{
	height:30px;
	width:3px;
	display:inline-block;
	margin-right:2px;
	margin-top:30px;
	background-color:#34495e;
  }
  
  .line{
	background-color:#34495e;
	height:10px;
	width:150px;
	transform:translate(-5px);
	margin-top:10px;
  }
  
  .butt{
	height:5px;
	width:15px;
	background-color:#f1c40f;
	transform:translate(10px,-5px);
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	animation:push .2s infinite;
  }
  
  .stick{
	height:20px;
	width:5px;
	background-color:#7f8c8d;
	transform:translate(35px,-25px);
	animation: moveStick .5s infinite;
  }
  
  .stick:after{
	content:"";
	border-radius:50%;
	height:15px;
	width:15px;
	background-color:#e74c3c;
	position:absolute;
	margin-top:-10px;
	margin-left:-5px;
  }
  
  .shine{
	position:absolute;
	height:130px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	width:3px;
	margin-left:29px;
	transform:rotate(25deg);
	margin-top:-5px;
	background-color:rgb(66, 244, 220);
	box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .5);
	animation: flash infinite .3s;
  }
  
  @keyframes flash{
	0%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, 0);}
	50%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .5);}
	70%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .2);}
	100%{
	  box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .3);
	}
  }
  
  .alpha{
   text-align:center;
   color:rgba(66, 244, 220, 1);
   font-family: 'Press Start 2P', cursive;
	margin-top:10px;
	text-shadow:2px 2px #3498db;
	font-size:18px;
  }
  
  
  @keyframes moveStick{
	0%{transform:translate(35px,-24px) rotate(0deg);}
	30%{transform:translate(35px,-24px) rotate(10deg);}
	60%{transform:translate(35px,-24px) rotate(-10deg);}
	100%{transform:translate(35px,-24px) rotate(0deg);}
  }
  
  @keyframes push{
	0%{height:5px;}
	50%{height:4px;
	transform:translate(10px,-4px);}
	100%{height:5px;}
  }
  
  @keyframes shake{
	0%{transform: translate(-50%,-51%) rotate(0deg);}
	30%{transform: translate(-51%,-50%) rotate(1deg);}
	60%{transform: translate(-49%,-50%) rotate(-1deg);}
	100%{transform: translate(-50%,-51%) rotate(0deg);}
  }

  /* Fin animation footer */

/* Fin footer */
