@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One');

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Début de Haut de page */

.cover {
    background-image: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17em;
    padding-top: 17em;
    text-align: center; 
}

#coverTxt {
    color: white;
    font-size: 30px;
    font-family: 'Rockwell';
}

/* Début titre animation */

/*Neon*/

.title {
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.title a {
	font-size: 90px;
	margin-top: 100px;
	position:static;
	text-decoration: none;
}

h1:nth-child(1) a {
	color: #FFFFFF;
	font-family: Pacifico;
}

h1:nth-child(1) a {
	-webkit-animation: neon3 1.5s  infinite ;
	-moz-animation: neon3 1.5s  infinite ;
	animation: neon3 1.5s  infinite ;
}

h1 a {
	color: rgb(137, 201, 227)fff;
}

/*glow for webkit*/

@-webkit-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@-moz-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}




/* Fin du titre  */

/* Fin Haut de page */

/* Début Contenu de la page */


/* Début titre nos jeux */

.titleGames {
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 
						8px 8px #76cbe6,
						20px 20px #000000;
}

.titleG {
	margin-top: 100px;
	text-align: center;
}


/* Fin titre nos jeux */


/* Début Jeux */

.container-fluid {
	margin-top: 50px;
	max-width: 100%;
}


.subTitleG {
	margin-top: 20px;
	font-family: 'Rockwell';
	font-size: 25px;
}


#descriptG {
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Rockwell';
	font-size: 15px;
}

#frame{
	height: 600px;
	width: 870px;
	border-radius: 20px;
}

/* Fin jeux */


/* Début bouton jouer */

.buttonGames {
	border-radius: 100px;
	background-color: #17374e;
	border: 2px solid white;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.7em;
	padding: 4px 50px 4px 50px;
	margin-bottom: 56px;
	margin-top: 15px;
	font-weight: bold;
}

.buttonGames a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}

.buttonGames span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
}

.buttonGames span:after {
	content: '\2BC8';
	font-size: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
}

.buttonGames:hover span {
	padding-right: 25px;
}

.buttonGames:hover span:after {
	opacity: 1;
	right: 0;
}

/* Fin bouton jouer */

.end {
	background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	padding-top: 15%;
	padding-left: 15%;
	padding-left: 15%;
	padding-bottom: 15%;
	margin-bottom: 50px;
}

/* Fin Contenu de la page */

/* Début bouton inscription */

.button {
	border-radius: 100px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.7em;
	padding: 4px 50px 4px 50px;
	margin-bottom: 56px;
}

.button a {
	text-decoration: none;
	color: white;
	font-family: "Raleway", sans-serif;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
	font-weight: bold;
}

.button span:after {
	content: '\2BC8';
	font-size: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Fin bouton inscription */


/* Début section chart */

.chartTitle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	font-family: 'Rockwell';
}

#logoChart {
	width: 200px;
	height: 235px;
	max-width: 200px;
	margin-bottom: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#chart {
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
}

#chart2 {
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
}

/* Fin section chart */