@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Début de Haut de page */


.carousel-caption h1 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: merienda;
}

.font-italic {
    font-family: "Raleway", sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin: 1.5em 3em 1em 3em;
	padding-top: 1.5em;
	color: white;
	line-height: 36px;
	letter-spacing: 1px;
}

.d-block {
	max-height: 975px;
}



/* Début titre animation */

/*Neon*/


a {
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.title {
	font-size: 90px;
	margin-top: 100px;
	position:static;
}

p:nth-child(1) a {
	color: #FFFFFF;
	font-family: Pacifico;
}

p:nth-child(1) a {
	-webkit-animation: neon3 1.5s  infinite ;
	-moz-animation: neon3 1.5s  infinite ;
	animation: neon3 1.5s  infinite ;
}

p a {
	color: rgb(137, 201, 227)fff;
}

/*glow for webkit*/

@-webkit-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@-moz-keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}

@keyframes neon3 {
	from {
		text-shadow: 0 0 10px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 30px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 70px rgb(137, 201, 227), 0 0 80px rgb(137, 201, 227), 0 0 100px rgb(137, 201, 227), 0 0 150px rgb(137, 201, 227);
	}
	to {
		text-shadow: 0 0 5px rgb(137, 201, 227), 0 0 10px rgb(137, 201, 227), 0 0 15px rgb(137, 201, 227), 0 0 20px rgb(137, 201, 227), 0 0 35px rgb(137, 201, 227), 0 0 40px rgb(137, 201, 227), 0 0 50px rgb(137, 201, 227), 0 0 75px rgb(137, 201, 227);
	}
}


@media (max-width: 650px) {

	p {
		font-size: 3.5em;
	}
}

/* Fin du titre  */

/* Fin Haut de page */

/* Début Contenu de la page */


.titleGames {
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 
						8px 8px #76cbe6,
						20px 20px #000000;
}

.titleG {
	margin-top: 100px;
	text-align: center;
}

.container-fluid {
	margin-top: 50px;
}

/* Début bouton jouer */

.buttonGames {
	border-radius: 100px;
	background-color: #17374e;
	border: 2px solid white;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.7em;
	padding: 4px 50px 4px 50px;
	margin-bottom: 56px;
	margin-top: 15px;
	font-weight: bold;
}

.buttonGames a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}

.buttonGames span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
}

.buttonGames span:after {
	content: '\2BC8';
	font-size: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
}

.buttonGames:hover span {
	padding-right: 25px;
}

.buttonGames:hover span:after {
	opacity: 1;
	right: 0;
}

/* Fin bouton jouer */

.end {
	background-image: url(../img/background-end.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	padding-top: 15%;
	padding-left: 15%;
	padding-left: 15%;
	padding-bottom: 15%;
	margin-bottom: 250px;
}

/* Fin Contenu de la page */

/* Début bouton inscription */

.button {
	border-radius: 100px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.7em;
	padding: 4px 50px 4px 50px;
	margin-bottom: 56px;
}

.button a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
}

.button span:after {
	content: '\2BC8';
	font-size: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Fin bouton inscription */
